.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 8px 0;
  line-height: 1.42;
  border-radius: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #52237f;
  color: white !important;
}

.navbar-brand img {
  height: 40px;
}

.home-icon {
  max-width: 40%;
}

.learn-trigger {
  background-color: #52237f;
  color: white;
}

.carousel-image {
  height: 100px;
}

.carousel-inner {
  height: 11em;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* .pre-sign-in {
  display: none;
} */

.icon-container {
  background-color: #dedede;
}

.card a {
  color: black;
  text-decoration: none; /* no underline */
}
.icon {
  display: inline-block;
  margin: 10px;
  text-align: center;
  color: #52237f;
}

.icon-sm {
  display: inline-block;
  margin: 5px;
  text-align: center;
  color: #bdbdbd;
}

.border-purple {
  border-color: #52237f;
}

.icon-label {
  display: block;
  font-size: 1em;
}

.share-icon,
.share-icon a {
  color: #bdbdbd !important;
}

.carousel-inner {
  text-align: center;
}

.carousel-image {
  width: 15%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2352237f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2352237f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
  bottom: -20px;
}
.carousel-indicators .active {
  background-color: #000;
}

.home > .navbar {
  background-color: white;
}

.navbar {
  background-color: #391858;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

.custom-checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.button-100 {
  width: 100%;
}
p {
  font-size: 0.875em; /* 14px/16=0.875em */
}

.form-container {
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-page {
  height: 100%;
  /* background-image: url("/images/backgound.jpg"); */
  background-position: 25% 75%;
  background-color: #7b1fa2;
}

.card-header {
  background-color: #52237f;
  color: white;
}
