<div class="row">
  <div class="col-12">
    <a
      data-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <div class="d-flex pt-3">
        <div class="mr-auto"><h4>From: Andy Yeung</h4></div>
        <div><i class="fas fa-caret-down"></i></div>
      </div>
    </a>
  </div>
  <div class="col-12">
    <div class="collapse show" id="collapseExample">
      <div class="container-fluid">
        <p>
          Happy 1 Month! From the day we first met to when you're watching this,
          know that every moment I spend with you is like a dream. Remember this
          song? It was the song we bonded over when we first met. Here's to many
          more moments like this. Happy Anniversary and too many more to come!
        </p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <input
      type="file"
      accept="video/*"
      capture="camera"
      id="recorder"
      style="display:none"
    />
    <a data-toggle="modal" data-target="#exampleModalCenter">
      <span class="icon px-1">
        <i class="fas fa-share-alt fa-2x"></i>
        <span class="icon-label">Share</span>
      </span>
    </a>
    <a class="respond-btn">
      <span class="icon px-1">
        <i class="fas fa-reply fa-2x"></i>
        <span class="icon-label">Respond</span>
      </span>
    </a>
    <input
      type="file"
      accept="video/*"
      capture="camera"
      id="recorder"
      style="display:none"
    />
  </div>
</div>
