<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/index.html">
        <img src="/images/transparent-logo-2.png" class="d-inline-block align-top logo" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/index.html">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="https://www.1800flowers.com/">Buy a Gift</a>
            <a class="nav-item nav-link" href="https://pwa.www.1800flowers.com/customer-service">Customer Service</a>
        </div>
    </div>
</nav>