<div class="col-12">
  <!-- Potential Gifts -->
  <div class="card">
    <a
      data-toggle="collapse"
      data-target="#sayThankYou"
      aria-expanded="true"
      aria-controls="sayThankYou"
    >
      <div class="card-header">Say Thank You With a Gift</div>
    </a>
    <div class="collapse show" id="sayThankYou">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex align-items-center justify-content-start">
            <div class="px-2">
              <img
                src="https://cdn1.cheryls.com/wcsstore/CherylAndCompany/images/catalog/cco_FDY17_162801x.jpg"
                width="50px"
                height="50px"
              />
            </div>
            <div class="p-2">Thank U Cookie Card</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex align-items-center justify-content-start">
            <div class="px-2">
              <img
                src="https://cdn1.cheryls.com/wcsstore/CherylAndCompany/images/catalog/cco_FDY17_162941x.jpg"
                width="50px"
                height="50px"
              />
            </div>
            <div class="px-2">You're Toad-ally Awesome Cookie Card</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex align-items-center justify-content-start">
            <div class="px-2">
              <img
                src="https://cdn1.cheryls.com/wcsstore/CherylAndCompany/images/catalog/cco_FAL16_147981_v1x.jpg"
                width="50px"
                height="50px"
              />
            </div>
            <div class="px-2">Thank you Gracelet Greeting</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- --------------- -->
</div>
