<!-- SHARE MODAL -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="share-icon copy-icon">
            <a><i class="fas fa-copy"></i> Copy to Clipboard</a>
            <input
              type="text"
              value="https://youtu.be/ldTmVPSKZ1Y"
              class="copy-link"
              style="display:none"
            />
          </div>
        </div>
        <div class="row">
          <div class="share-icon">
            <a href="sms:6462500138?&body=https%3A%2F%2Fyoutu.be%2FldTmVPSKZ1Y"
              ><i class="fas fa-comment"></i> Send SMS</a
            >
          </div>
        </div>
        <div class="row">
          <div class="share-icon">
            <a
              href="fb-messenger://share/?link=https%3A%2F%2Fyoutu.be%2FldTmVPSKZ1Ysend-dialog&app_id=123456789"
              ><i class="fab fa-facebook-messenger"></i> Messenger</a
            >
          </div>
        </div>
        <div class="row">
          <div class="share-icon">
            <a
              href="mailto:ayeung@1800flowers.com?subject=Andy's Video Message&body=https://youtu.be/ldTmVPSKZ1Y"
              title="Share by Email"
              ><i class="fas fa-envelope"></i> Email
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SHARE MODAL -->
